<section id="favorite">
  <div class="container favorite-container">
    <div class="favorite-image">
      <img src="https://res.cloudinary.com/dveidveag/image/upload/v1751612085/Reading_comics-cuate_eknjiv.svg" alt="Favorite Book Collection">
    </div>
    <div class="favorite-content">
      <h2>Jelajahi Koleksi<span class="text-primary"> Buku!</span></h2>
      <p>Jelajahi koleksi buku-buku klasik kami disini</p>
      <div class="stats-grid">
        <div class="stat-item">
          <div class="stat-number">100+</div>
          <div class="stat-label">Book Listing</div>
        </div>
        <div class="stat-item">
          <div class="stat-number">550+</div>
          <div class="stat-label">Registered User</div>
        </div>
        <div class="stat-item">
          <div class="stat-number">100+</div>
          <div class="stat-label">Books Sold</div>
        </div>
      </div>
      <a href="/buku" class="btn btn-primary">Jelajahi Sekarang!</a>
    </div>
  </div>
</section>