<footer id="footer" class="site-footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-col">
        <h4>Bukumomo</h4>
        <p>Kami Menjual Buku Klasik* Murah, Original dan Otentik. <br />
Temukan buku klasik yang akan mengejutkan Anda saat Anda membacanya.</p>
      </div>
      <div class="footer-col">
        <h5>Tautan</h5>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/buku">Buku - buku</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h5>Contact</h5>
        <address>
          Email: shinkitahara37@gmail.com<br>
          Phone: +62 878 8806 8764<br>
        </address>
      </div>
      <div class="footer-col">
        <h5>Kami Menerima Pembayaran Online</h5>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2025 Bukumomo. Dilindungi Hak Cipta. | Made By <a href="https://develovee.com/">Dwi Purnomo</a> ❤</p>
    </div>
  </div>
</footer>