<section id="hero" class="hero-section">
  <div class="container hero-container">
    <div class="hero-content">
      <h1>Kami Menjual Buku Klasik*<span class="text-primary"> Murah, Original dan Otentik.</span></h1>
      <p>Temukan buku klasik yang akan mengejutkan Anda saat Anda membacanya.</p>
      <a href="/buku" class="btn btn-primary">Jelajahi Sekarang!</a>
      <!-- <form class="search-form">
        <input type="search" placeholder="Coba Pencarian...">
        <button type="submit">
          <img src="https://res.cloudinary.com/dveidveag/image/upload/v1751612336/search-alt-2-svgrepo-com_fzokr6.svg" alt="Submit Search">
        </button>
      </form> -->
    </div>
    <!--merged image-->
    <div class="hero-image-stack">
      <div class="book-cover book-cover-1">
        <img src="https://res.cloudinary.com/dveidveag/image/upload/v1751611967/Reading_comics-amico_qa85v2.svg" alt="Book Cover Hero Bukumomo">
      </div>
      <div class="book-cover book-cover-2">
        <div class="book-overlay"></div>
      </div>
      <div class="book-cover book-cover-3">
        <div class="book-overlay"></div>
      </div>
      <div class="book-cover book-cover-4">
        <div class="book-overlay"></div>
      </div>
    </div>
  </div>
</section>