{{ define "main" }}
  <section id="bestsellers">
  <div class="container">
    <h2 class="section-title">Persembahan Dari Kami</h2>
    <div class="book-carousel-wrapper">
      <div class="book-carousel">
        {{- $pages := partial "utils/sort-pages" (dict "page" . "by" site.Params.blog.list.sortBy "date" site.Params.blog.list.sortOrder) -}}
        {{- if site.Params.blog.list.pageSize -}}
          {{- $paginator := .Paginate $pages site.Params.blog.list.pageSize -}}
          {{- $pages = $paginator.Pages -}}
        {{- end -}}
        {{- range $pages }}
        <div class="book-card">
            <a href="{{ .Permalink }}">
            <div class="book-card__image-wrapper">
                <img src="{{ .Params.cover }}" alt="{{ .Title }}" class="book-card__image" />
                <div class="book-card__price">{{ .Params.price }}</div>
            </div>
            <h3 class="book-card__title">{{ .Title }}</h3>
            <span class="book-card__author">{{ .Params.author }}</span>
            <div class="book-card__description">{{ .Content | truncate 200 }}</div>
            </a>
            <button class="btn btn-dark book-card__button">
            <img src="https://res.cloudinary.com/dveidveag/image/upload/w_20/q_auto/f_auto/v1751612846/buy-cart-market-svgrepo-com_bwwmjd.svg" alt="cart icon">
            <span>Beli</span>
            </button>
        </div>
        {{ end }}
      </div>
      {{- if site.Params.blog.list.pageSize -}}
        {{ partial "pagination.html" . }}
      {{- end -}}
      </div>
    </div>
  </div>
</section>
{{ end }}